#include "../Generic/resource.h"

ICON IDW_MAIN PRELOAD PMuptime.ICO

MENU IDW_POPUP
BEGIN
		MENUITEM "~Float", IDM_POPUP_FLOAT
		MENUITEM "~About...", IDM_POPUP_ABOUT
		MENUITEM SEPARATOR
		MENUITEM "E~xit",  IDM_POPUP_EXIT
END

DLGTEMPLATE IDD_ABOUT 
BEGIN
	DIALOG "About", 100, 31, 27, 161, 105, FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR
	PRESPARAMS PP_FONTNAMESIZE "8.Helv"
	BEGIN
		CONTROL "~OK", DID_OK, 60, 4, 40, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "PMuptime", 103, 62, 80, 73, 14, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "18.Tms Rmn"
		CONTROL "Version 1.1", 104, 76, 72, 45, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Freeware (not in public domain)", 105, 20, 56, 123, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Copyright (C)1993", 106, 44, 40, 76, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL " Jason R Shannon & Daniel J Neades", 107, 20, 32, 121, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 108, 12, 28, 140, 72, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		ICON IDW_MAIN, 100, 32, 76, 30, 20
	END

END


